@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
:root{
    --orange: #FF820D;
    --dark: #333333;
    --gray: #B2B3B3;
    --dark_blue: #157A8A;
    --orange-light: #FFC187;
}
*{
    margin: 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

